html, body {
  padding: 0;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
  font-family: Gilroy-Regular, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  text-size-adjust: none;
}

input {
  -webkit-appearance: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url('../public/fonts/Gilroy-Bold.ttf');
}

@font-face {
  font-family: 'Gilroy-Regular';
  src: url('../public/fonts/Gilroy-Regular.ttf');
}

@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url('../public/fonts/Gilroy-ExtraBold.otf');
}

@font-face {
  font-family: 'Gilroy-SemiBold';
  src: url('../public/fonts/Gilroy-SemiBold.ttf');
}

@font-face {
  font-family: 'Gilroy-Light';
  src: url('../public/fonts/Gilroy-Light.otf');
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url('../public/fonts/Gilroy-Medium.ttf');
}