.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: flex-end;
}

.img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 1;
    position: absolute;
}

.card {
    width: 41%;
    height: 645px;
    min-width: 658px;
    background-color: white;
    border-radius: 50px;
    z-index: 2;
    margin-right: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#card_ {
    margin-right: 0px;
}

.logo {
    height: 60.85px;
    width: 40.44px;
    margin-top: 20px;
}

.logo:hover {
    cursor: pointer;
}

.logo:active {
    opacity: 0.7;
}

.title {
    font-family: 'Gilroy-Bold';
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: x-large;
}

.cvTitle {
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
    max-width: 500px;
    width: 80%;
    font-family: 'Gilroy-Regular';
    display: inline;
}

.inputCont, .inputContHalf {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(149, 149, 149, 0.5);
    width: 80%;
    height: 50px;
    border-radius: 5px;
    align-items: center;
    min-height: 50px;
    position: relative;
    max-width: 500px;
}

.inputCont_, .inputCont_d {
    max-width: 500px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    min-height: 50px;
    margin: 0px;
}

.inputContHalf {
    width: 48%;
}

.pH, .pH_ {
    border-width: 0px;
    font-family: 'Gilroy-Regular';
    width: 80%;
    font-size: initial;
    margin-left: 2%;
}

.pH, .pH_:focus {
    outline: none;
}

.pH_ {
    width: 70%;
}

.countryCodeBox {
    width: 20%;
    min-width: 70px;
    border: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: 1px solid rgba(149, 149, 149, 0.5);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gilroy-Regular';
    font-size: initial;
    padding-left: 4%;
    -webkit-appearance: none;
}

.countryCodeBox:focus {
    outline: none;
}

.env {
    width: 19.97px;
    height: 15.23px;
    margin-right: 8px;
    margin-left: 8px;
}

.pad {
    width: 15.99px;
    height: 21.32px;
    margin-right: 10px;
    margin-left: 10px;
}

.cursor:hover {
    cursor: pointer;
}

.cursor:active {
    opacity: 0.5;
}

.eye {
    width: 37.24px;
    height: 22.32px;
    position: absolute;
    right: 1%;
}

.button1 {
    background-color: #4EB848;
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    max-width: 500px;
    min-height: 50px;
}

.button1, .cu, .ca_, .eye, .fp:hover {
    cursor: pointer;
}

.em {
    font-family: 'Gilroy-SemiBold';
    display: block;
    color: #FF0000;
    max-width: 80%;
    text-align: center;
    font-size: smaller;
    margin: 0px;
    margin-bottom: 7px;
}

.fp_ {
    margin-top: 20px;
}

.fp {
    font-family: 'Gilroy-Medium';
    margin: 0px;
}

.fp:active, .cu:active, .ca_:active {
    text-decoration: underline;
}

.button1:active {
    opacity: 0.6;
}

.buttonText1 {
    font-family: 'Gilroy-SemiBold';
    color: white;
}

.cu {
    font-family: 'Gilroy-SemiBold';
}

.cu_ {
    margin-top: 60px;
    margin-bottom: 10px;
}

.ca {
    margin: 0px;
    font-size: 90%;
    color: rgba(149, 149, 149, 1);
    margin-top: 10px;
    font-family: 'Gilroy-Light';
    display: initial;
}

.ca_ {
    color: #4EB848;
    font-family: 'Gilroy-SemiBold';
    margin: 0px;
    font-size: smaller;
    margin-top: 10px;
}

@media only screen and (max-width: 1024px) {
    .card {
        width: 55%;
        min-width: 560px;
        height: 645px;
    }
}

@media only screen and (max-width: 700px) {
    /*Tablets (portrait and landscape)*/
    .container {
        align-items: center;
        overflow-x: hidden;
    }
    .card {
        width: 100vw;
        height: 100vh;
        margin: 0px;
        margin-right: 0px;
        min-width: 0px;
    }
    #card_ {
        margin-right: -5vw;
    }
    /*.inputCont_ {
        flex-direction: column;
    }
    .inputContHalf {
        width: 100%;
    }*/
    .pH, .pH_ {
        font-size: inherit;
    }
    .eye {
        width: 30.24px;
        height: 15.32px;
    }
    .img {
        display: none;
    }
    .logo {
        margin-top: 5vh;
    }
    .caC, .ca_ {
        margin-bottom: 30px;
    }
    .inputCont_d {
        flex-direction: column;
        align-items: center;
        margin-bottom: 25px;
    }
}

@media only screen and (max-height: 670px) {
    /* Phones (portrait and landscape)*/
    .container {
        align-items: center;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .card {
        width: 100vw;
        height: 100vh;
        border-radius: 0px;
        margin: 0px;
        margin-right: 0px;
        min-width: 0px;
    }
    #card_ {
        margin-right: -5vw;
    }
    .inputCont_ {
        margin-bottom: 15px;
    }
    .img {
        display: none;
    }
    .logo {
        margin-top: 5vh;
    }
    .caC, .ca_ {
        margin-bottom: 30px;
    }
}